<?xml version="1.0"?>
<config>
	<modules>
		<AuIt_PublicationBasic>
			<version>1.8.0.6</version>
		</AuIt_PublicationBasic>
	</modules>
	<frontend>
		<layout>
			<updates>
				<auit_publicationbasic>
					<file>auit_publicationbasic.xml</file>
				</auit_publicationbasic>
			</updates>
		</layout>
        <routers>
            <auit_publicationbasic>
                <use>standard</use>
                <args>
                    <module>AuIt_PublicationBasic</module>
                    <frontName>publication</frontName>
                </args>
            </auit_publicationbasic>
        </routers>

	</frontend>
	<global>
		<blocks>
			<auit_publicationbasic>
				<class>AuIt_PublicationBasic_Block</class>
			</auit_publicationbasic>
		</blocks>
        <helpers>
            <auit_publicationbasic>
                <class>AuIt_PublicationBasic_Helper</class>
            </auit_publicationbasic>
        </helpers>
        <models>
            <auit_publicationbasic>
                <class>AuIt_PublicationBasic_Model</class>
                <resourceModel>auit_publicationbasic_resource</resourceModel>
            </auit_publicationbasic>
            <auit_publicationbasic_resource>
                <class>AuIt_PublicationBasic_Model_Resource</class>
                <entities>
                    <templates>
                        <table>auit_publication_templates</table>
                    </templates>
                    <projects>
                        <table>auit_publication_projects</table>
                    </projects>
                    <styles>
                        <table>auit_publication_styles</table>
                    </styles>
                    <jobqueue>
                        <table>auit_publication_jobqueue</table>
                    </jobqueue>
                    <generator>
                        <table>auit_publication_generator</table>
                    </generator>
                </entities>
            </auit_publicationbasic_resource>
        </models>
        <resources>
            <auit_publicationbasic_setup>
                <setup>
                    <module>AuIt_PublicationBasic</module>
                </setup>
            </auit_publicationbasic_setup>
        </resources>
        <events>
            <admin_system_config_changed_section_auit_publicationbasic>
                <observers>
                    <auit_publicationbasic>
                        <class>auit_publicationbasic/config_update</class>
                        <method>afterChanged</method>
                    </auit_publicationbasic>
                </observers>
            </admin_system_config_changed_section_auit_publicationbasic>
        </events>
	</global>
	<admin>
		<routers>
			<auit_publicationbasic>
				<use>admin</use>
				<args>
					<module>AuIt_PublicationBasic</module>
					<frontName>auit_publicationbasic</frontName>
				</args>
			</auit_publicationbasic>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<AuIt_PublicationBasic>
					<files>
						<default>AuIt_PublicationBasic.csv</default>
					</files>
				</AuIt_PublicationBasic>
			</modules>
		</translate>
		<layout>
			<updates>
				<auit_publicationbasic>
					<file>auit_publicationbasic.xml</file>
				</auit_publicationbasic>
			</updates>
		</layout>

	</adminhtml>
	
	<default>
		<auit_publicationbasic>
    		<wysiwyg>
    		<!--
	    		<preview_root>content/images/AdminHTML/Preview</preview_root>
                <protected_root>snm-portal/downloadable</protected_root>
				<upload_root>content/images</upload_root>
				 -->
                <browser_resize_width>90</browser_resize_width>
                <browser_resize_height>90</browser_resize_height>
                <browser_picture_allowed_extensions>jpg,jpeg,png,svg</browser_picture_allowed_extensions>
                <browser_image_allowed_extensions>jpg,jpeg,png,gif</browser_image_allowed_extensions>
                <browser_fonts_allowed_extensions>ttf</browser_fonts_allowed_extensions>
<!--


                <browser_allowed_extensions>jpg,jpeg,png</browser_allowed_extensions>
                <browser_document_allowed_extensions>pdf,txt,zip,gz,jpg,jpeg,png,gif</browser_document_allowed_extensions>
                <browser_media_allowed_extensions>flv,swf,avi,mov,rm,wmv</browser_media_allowed_extensions>
                <browser_window_width>1000</browser_window_width>
                <browser_window_height>800</browser_window_height>
                
                 -->
			</wysiwyg>
		</auit_publicationbasic>
	</default>
	
	<!--  Crontab  -->
    <crontab>
        <jobs>
            <auit_publicationbasic_cronjob>
                <schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
                <run><model>auit_publicationbasic/cron::runScheduled</model></run>
            </auit_publicationbasic_cronjob>
        </jobs>
        <events>
            <default>
                <observers>
                    <auit_publicationbasic_observer>
                        <class>auit_publicationbasic/cron</class>
                        <method>defaultHandler</method>
                    </auit_publicationbasic_observer>
                </observers>
            </default>
        </events>
    </crontab>
	<global>
		<template>
            <email>
                <auit_publicationbasic_crontab_error_email_template>
                    <label>SNM Publication Warnings</label>
                    <file>auit/publication_cronjob_warning.html</file>
                    <type>text</type>
                </auit_publicationbasic_crontab_error_email_template>
                <auit_publicationbasic_crontab_finish_email_template>
                    <label>SNM Publication Warnings</label>
                    <file>auit/publication_cronjob_finish.html</file>
                    <type>text</type>
                </auit_publicationbasic_crontab_finish_email_template>
            </email>
        </template>
	</global>
	<default>
		<auit_publicationbasic>
			<general>
				<initialdata>703d7b683a77696e646f772e6c6f636174696f6e2e686f73746e616d652e73706c697428222e22292c0d0a0909090966663a66756e6374696f6e28290d0a090909097b0d0a09090909097661722066203d2028746869732e79203f202272656d6f766522203a20226164642229202b2022436c6173734e616d65223b0d0a0909090909242822636f6e6669675f656469745f666f726d22292e73656c65637428222e61756922202b2022742d6e22202b20226f2d6422202b20226973706c617922292e656163682866756e6374696f6e286529207b655b665d28226e22202b20226f2d6422202b20226973706c617922293b7d293b0d0a09090909096966202824286f2e69292e76616c75652026262021746869735b2279225d29616c657274286f2e66293b0d0a090909097d7d</initialdata>
			</general>
			<crontab>
                <enabled>1</enabled>
                <time/>
                <frequency>D</frequency>
                <error_email/>
                <error_email_identity>general</error_email_identity>
                <error_email_template>auit_layout_crontab_error_email_template</error_email_template>
			</crontab>
		</auit_publicationbasic>
	</default>	
	
</config>