<?xml version="1.0"?>
<config>
    <tabs>
        <auit_all>
            <label>SNM-Portal</label>
            <sort_order>300</sort_order>
        </auit_all>
    </tabs>
    <sections>
        <auit_publicationbasic translate="label" module="auit_publicationbasic">
            <label>pdfPublication Basic</label>
            <tab>auit_all</tab>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<general translate="label">
                    <label>General</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<version translate="label" >
                            <label>Version</label>
							<frontend_model>auit_publicationbasic/adminhtml_versioninfo</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
					</fields>
                </general>
                <crontab translate="label">
                    <label>Cronjob Option</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Jobqueue (Cronjob)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <error_email translate="label">
                            <label>Error Email Recipient</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-email</validate>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </error_email>
                        <error_email_identity translate="label">
                            <label>Error Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </error_email_identity>
                        <error_email_template translate="label">
                            <label>Error Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </error_email_template>
                        
                    </fields>
                </crontab>
				<product_pdf translate="label">
                    <label>Product PDF</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Show Product PDF</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <use_cache translate="label">
                            <label>Use PDF-Cache</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_cache>
                        
                        <template_default translate="label">
                            <label>Default Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>auit_publicationbasic/adminhtml_system_config_producttemplates</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </template_default>
                        <template_mapping>
							<label>Mapping Product-TO-Template</label>
                            <frontend_model>auit_publicationbasic/adminhtml_items</frontend_model>
                            <backend_model>auit_publicationbasic/adminhtml_idtemplate</backend_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </template_mapping>
					</fields>
				</product_pdf>
            </groups>
        </auit_publicationbasic>
    </sections>
</config>
